APP_NAME=frce
ENVIRONMENT=dev
CATALOG=frce_dev
BRONZE_SCHEMA=bronze
SILVER_SCHEMA=silver
GOLD_SCHEMA=gold
AUDIT_SCHEMA=audit
COMPLIANCE_SCHEMA=compliance
KAFKA_BOOTSTRAP_SERVERS=localhost:9092
KAFKA_PAYMENTS_TOPIC=sepa-payments
ECB_BASE_URL=https://data-api.ecb.europa.eu